@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 3.125rem 15rem;
    /* (1rem=16px) */
}

.g3 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 1.2rem;
    color: var(--Dark-02, #424242);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}

.banner-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
}

.banner-content {
    width: 50rem;
    text-align: center;
    margin: 3rem auto;
}

.banner-description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;

}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1.2rem;
}

.banner-img {
    border-radius: 8px;

}

.banner img {
    width: 100%;
}


/* main styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary2 {
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem;
}

.feature1 {
    display: flex;
    align-items: center;

}

.feature-description {
    padding-left: 76px;
    padding-right: 76px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    gap: 24px;
    padding-top: 85px;
    padding-bottom: 130px;

}

.Quick-list {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
}

.of-Our {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.Features-span {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.feature-details {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* features2 section  */

.feature2 {
    display: flex;
    gap: 100px;
}

.feature2 .card {
    border: none;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;
}

.feature2 .feature-content .g3 {
    border-left: 5px solid#FF900E;
    padding-left: 20px;
}

.ten-year-experience {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    padding: 40px;
    width: 340px;
    position: relative;
    bottom: 90px;
    right: 90px;
}

.ten-year-experience h2 {
    margin: 0;
    text-align: center;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
}

.ten-year-experience p {
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
}

/* facts card */
.g3 {
    text-align: left;
}

.feature-details2 {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 100px;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 40px 30px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
}

.card-stats {
    color: var(--Dark-02, #424242);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 600;
    margin: 10px 0;
    margin-bottom: 2px;

}

.card-title {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;

}

/* sponsors style  */
.sponsors {
    text-align: center;
}

.section-title {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;

}

.sponsors-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.sponsors-icons img {
    width: 165px;
    height: 50px;
}

/* footer styles */
footer {
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    padding: 38px 410px;
    margin: 130px 150px ;
}

footer p {
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
}


/* reponsive style  */

@media screen and (max-width:576px) {

    header,
    .icons,
    .sponsors-icons, {
        padding: 20px;

    }

    nav,
    .icons,
    .sponsors-icons,
    .feature2 {
        flex-direction: column;
    }

    .feature-images {
        grid-template-columns: 1fr;
    }

    .icons,
    .sponsors-icons {
        gap: 20px;
    }

    .sponsors-icons {
        margin-left: 150px;
        gap: 40px;
    }

    .feature-image img {
        width: 90%;
    }

    .ten-year-experience {
        position: static;
        width: 50%;
    }
    footer{
        padding:20px;
        margin: auto;
    }

}

/* for tablet/medium device */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .feature1 {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
}